$icomoon-font-family: "innovative-resume" !default;
$icomoon-font-path: "fonts" !default;

$icon-at-sign: "\e900";
$icon-award: "\e901";
$icon-chevrons-up: "\e902";
$icon-facebook: "\e903";
$icon-file-text: "\e904";
$icon-github: "\e905";
$icon-instagram: "\e906";
$icon-linkedin: "\e907";
$icon-mail: "\e908";
$icon-map: "\e909";
$icon-map-pin: "\e90a";
$icon-menu: "\e90b";
$icon-phone: "\e90c";
$icon-printer: "\e90d";
$icon-settings: "\e90e";
$icon-smartphone: "\e90f";
$icon-target: "\e910";
$icon-twitter: "\e911";
$icon-user: "\e912";
$icon-x: "\e913";
